<!DOCTYPE html>
<html>
        <head>
                <title>My Application</title>
        </head>
        <body>
        <div id="app">
                <h1 v-if="visible"> {{ message }} </h1>
                <ol>
                        <li v-for="item in shopping_list">
                                {{item.name }}
                        </li>
                </ol>
                <ol>
                        <!--
                          Now we provide each todo-item with the todo object
                          it's representing, so that its content can be dynamic.
                          We also need to provide each component with a "key",
                          which will be explained later.
                        -->

                        <li> this is now using components</li>
                        <todo-item
                                v-for="item in shopping_list"
                                v-bind:todo="item"
                        ></todo-item>
                </ol>
                <h2>{{ calculateTotal() }}</h2>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="./app.js"></script>

        </body>
</html>