<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>My Application</title>
</head>
<body>
<div id="app">
    <ol>
        <li v-for="user in users">
            {{ user.username }}
        </li>
    </ol>
    <h2>Add a new user</h2>
    <form v-on:submit="addUser()">
        <input v-model="username" placeholder="Username" />
        <input type="submit" value="Add" />
    </form>
</div>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="./app(1).js"></script>
</body>
</html>